name: Android Publisher Test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main

      - name: Setting up Java
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      - name: Setting up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Setting up APIs
        run: pip3 install google-api-python-client oauth2client

      - name: Grant gradlew permissions
        run: chmod +x gradlew

      - name: Decode google-services.json
        env:
          GOOGLE_JSON: ${{ secrets.GOOGLE_JSON }}
        run: echo $GOOGLE_JSON > app/google-services.json

      - name: Upload APK
        env:
          APP_PACKAGE_NAME: ${{ secrets.PACKAGE_NAME }}
          GOOGLE_PLAY_ANDROID_PUBLISHER: ${{ secrets.GOOGLE_PLAY_ANDROID_PUBLISHER }}
        run: |
          echo $GOOGLE_PLAY_ANDROID_PUBLISHER > google_play_android_publisher.json
          python3 scripts/google_api_test.py $APP_PACKAGE_NAME
